/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
body {
  background-color: #f8f7f3;
}
.container {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
}
.pricing-boxes__wrapper {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 30px 0;
}
.pricing__item {
  border: 1px solid #c6c4b8;
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 5%), 0 10px 25px 0 rgb(50 50 93 / 10%);
  padding: 17px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  transition: all .5s;
}
.pricing__item:nth-of-type(4).active {
  border-color: #009B63;
  box-shadow: 0px 0px 0px 4px rgb(0 155 99);
}
.pricing__item:nth-of-type(4).active .pricing__btn {
  background-color: rgb(0, 155, 99);
}    

.pricing__item.active {
  position: relative;
  transform: translateY(-16px);
}
.pricing__item:nth-of-type(3) {
  background-color: #080807;
  box-shadow: 0 30px 50px 0 rgb(8 8 7 / 25%), 0 10px 25px 0 rgb(8 8 7 / 16%);
}
.pricing__item:nth-of-type(3) .pricing__title,
.pricing__item:nth-child(3) .pricing__cost ,
.pricing__item:nth-of-type(3) .pricing__views {
  color: #fff;
}
.pricing__item:nth-of-type(3) .pricing__description {
  color: #c6c4b8;
}
.pricing__item:nth-of-type(3) .pricing__btn {
  background-color: #3d4fe0;
}
.pricing__item:nth-of-type(3) .pricing__about ,
.pricing__item:nth-of-type(3) .pricing__item li {
  color: #e9e7e0;
}
.pricing__title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 0.2em;
}
.pricing__description{
  font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    color: #6c6a60;
}
.pricing-box__top {
  min-height: 132px;
  display: flex;
  flex-direction: column;
}
.pricing__cost {
  font-size: 1.8em;
  line-height: 1.1;
  font-weight: 700;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #c6c4b8;
}
.pricing__box-price {
  width: 100%;
  min-height: 79px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.pricing__views {
  color: #2d2c2a;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
}
button {
  cursor: pointer;
  border: none;
  outline: none;

}
.pricing__btn {
  padding: 18px 32px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  background: #080807;
  color: #fff;
  margin-bottom: 1em;
  transition: all .5s;
  border: 1px solid transparent;
}
.pricing__btn:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #080807;
}
.pricing__about {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  color: #514f48;;
}
.pricing__item ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pricing__item li {
  position: relative;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  color: #514f48;
  padding-left: 30px;
}
.pricing__item li::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background: url(../src/images/checkmark.svg) center center / cover no-repeat;
}
.pricing__about {
  margin-bottom: 12px;
}
.pricing__main-title {
    font-size: 4.8em;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}
.pricing__input-wrapper {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}
.pricing {
  padding: 25px 0;
}
.pricing__input {
  width: 100%;
}
.pricing__estimate {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.pricing__estimated {
  font-family: 'Tolstoy Sans',sans-serif;
  font-size: 1.38em;
  line-height: 1.4;
  font-weight: 600;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}
.pricing__input-container {
  position: relative;
  width: 100%;
}
.pricing__input-tolltip {
  position: absolute;
  display: inline-block;
  top: -70px;

  white-space: nowrap;
  border-radius: 5px;
  font-family: inherit;
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
  visibility: hidden;
  opacity: 0;
  transition: visibility .6s, opacity .6s;
  z-index: 1;
}
.price-tooltip__text {
  position: relative;
  display: inline-block;
  padding: 16px;
  line-height: 26px;
  color: #080807;
  z-index: 1;
}
.pricing__input:hover + .pricing__input-tolltip {
  visibility: visible;
  opacity: 1;
}
.pricing__estimated-cost span {
  font-size: 26px;
  line-height: 32px;
  color: #3d4fe0;
}
.pricing__estimated-cost .pricing__month {
  font-size: 18px;
  line-height: 26px;
  color: #222;
}